@use 'variables';
@use 'mixins';

.modal-navbar{
    &__blackground{
        @include mixins.modal-background;

    }
    background-color: variables.$White;
    width: 250px;
    height: 100%;
    padding: 28px 24px;
    // display: none;
    &_items{
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none;
        margin-top: 50%;
    }
    &__link{
        text-decoration: none;
        color: variables.$Very-dark-blue;
        font-weight: 700;
        font-size: 1.1em;

    }
    &__close-icon:hover{
        cursor: pointer;

    }
}